// =============================================================================
//  Variables
// ========================================================================== */

// Breakpoint
$menu-break: 768px;

// Colors
$grey-1: #ddd;
$grey-2: #ccc;
$grey-3: #bbb;
$grey-4: #333;
$text: #666;